In [1]:
list_of_anything = [ 'apples', 12, 34.99, True]; list_of_anything

['apples', 12, 34.99, True]

In [2]:
len(list_of_anything)

4

In [3]:
list_of_anything.append('oranges')

In [4]:
len(list_of_anything)

5

In [5]:
first = list_of_anything[0]
last = list_of_anything[-1]
print(f"From {first} to {last}")

From apples to oranges

In [6]:
# Perform a slicing operation to select the second through the third element
list_of_anything[1:3]

[12, 34.99]

In [12]:
# Remove an element in a list by it's value - only removes the first occurrence from left
# Will throw an error if the value does not exist in the list
list_of_anything.remove(34.99)
list_of_anything

ValueError: list.remove(x): x not in list

In [13]:
# List Comprehensions
# Comprehensions are constructs that allow sequences to be built from other sequences
# Python 2.0 intrcoduced the list comprehension construct and Python 3.0 extended this
# functionality to work with dictionaries and sets

# Usually, you use list comprehensions to capture indexes of array elements that 
# satisfy a predicate

# Example
[ i**2 for i in range (1,5) if (i % 2 == 0 )]

# First, the for i in range(1,5) loop operations kicks in
# Then, for each i, the if (i%2==0) predicate is evaluated.
# If i satisfies the predicate condition, i is made available to the pwr operation (i**2)

[4, 16]

In [14]:
# Get the type for all objects in the list
[type(e) for e in list_of_anything]

[str, int, bool, str]

In [16]:
# Create a new
[e for e in list_of_anything if type(e) == str]

['apples', 'oranges']

In [19]:
# Convert all data in a list to string - new string list
str_list = [str(e) for e in list_of_anything]
str_list

['apples', '12', 'True', 'oranges']

In [21]:
# Use the string .join function to concatenate all the list elements into one comma delimited string
str_of_things = ",".join(str_list)
str_of_things

'apples,12,True,oranges'

In [22]:
new_list = str_of_things.split(",")
new_list

['apples', '12', 'True', 'oranges']

In [23]:
str_list == new_list

True

In [24]:
# The zip Function
# The zip() function allows you to iterate over lists passed to it as parameters
# (you can have more than 2 lists)
# For has access to global scope
# Each variable must represent a list to unpack

x = [1,2,3,4,5]
y = [10,20,30,40,50]
z = ['a','b','c','d','e']

[z + '->' + str(x) + ":"  + str(y) for x,y,z in zip(x,y,z)]

['a->1:10', 'b->2:20', 'c->3:30', 'd->4:40', 'e->5:50']

In [ ]:
set{[1,2,2,2,1,1,4]}